<style>
    p {
        padding-left: 100px;
        padding-right: 100px;
        font-size: 2em;
    }
</style>

<div class="fullpage">

    <p>Progetto a cura di Giulia Solano.</p>
    <p>Progetto grafico e illustrazioni a cura di Julia Caracciolo.</p>
    <p>
        Voci al telefono:
        Matteo Ambrosetti, 
        Davide Bartaletti, 
        Paolo Bonifati, 
        Francesco Borsacchi, 
        Ginevra Bruscino, 
        Carla Buscemi, 
        Eugenia Conti, 
        Giulia Del Nista, 
        Maria Falcone, 
        Filippo Fredducci, 
        Laura Lo Cascio, 
        Ginevra Mangano, 
        Cecilia Milocani, 
        Vincenzo Mirra, 
        Pierluigi Nieri, 
        Maria Pacelli, 
        Sara Pachetti, 
        Cosimo Parlangeli, 
        Eugenio Prina, 
        Rosa Maria Rizzi, 
        Cristiano Saggini, 
        Laura Salvetti, 
        Fabiola Santandrea, 
        Marco Saracco, 
        Daniele Tarini, 
        Francesca Torelli, 
        Paola Valenti.
    </p>
    <p>Con la collaborazione tecnica di Daniele Tarini, Ivan Ricotti, Cristina Toffi.</p>

</div>