<style>
    p {
        color: #808080;
    }
    .credit {
        font-size: 1.2em;
        color: black;
    }
</style>
<div class="fullpage" @stream>

    <h1>Rodari al telefono</h1>

    <p class="fall-in-item">Progetto a cura di <span class="credit">Giulia Solano</span></p>
    <p class="fall-in-item">Progetto grafico e illustrazioni a cura di <span class="credit">Hangar srls</span></p>
    <p class="fall-in-item">
        Voci al telefono: 
        <ng-container  *ngFor="let reader of readers; let last=last">
            <span class="credit">{{reader}}</span>{{last ? '' : ', '}}
        </ng-container>
    </p>
    <p class="fall-in-item">Con il supporto di <span class="credit">Hyperborea srl</span> 
        e la collaborazione di <span class="credit">Daniele Tarini</span>, <span class="credit">Ivan Ricotti</span>, <span class="credit">Cristina Toffi</span>
    </p>
</div>