<div style="margin:0; padding:0; overflow:hidden;">

    <svg @dissolve
       xmlns:dc="http://purl.org/dc/elements/1.1/"
       xmlns:cc="http://creativecommons.org/ns#"
       xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
       xmlns:svg="http://www.w3.org/2000/svg"
       xmlns="http://www.w3.org/2000/svg"
       id="svg8"
       version="1.1"
       viewBox="0 0 15 15"
       style="position:fixed; top:0; left:0; height:100%; width:100%; background-color: #e9e6dd;" >
       <defs id="defs2" > 
          <clipPath
          id="clipPath106"
          clipPathUnits="userSpaceOnUse">
         <circle
            r="1.0054166"
            cy="14.249109"
            cx="7.3919225"
            id="circle108"
            style="opacity:1;vector-effect:none;fill:#ff00ff;fill-opacity:1;stroke:none;stroke-width:0.0117569;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:markers fill stroke"
            />
       </clipPath>
      </defs>
      <metadata
         id="metadata5">
      </metadata>
      <image *ngIf="favola" [attr.href]="favola.image"
      y="0"
      x="0"
      id="image44"
      preserveAspectRatio="none"
      height="15"
      width="15" />
    </svg>
</div>

<div *ngIf="favola" class="audio-player-box">
    <mat-basic-audio-player [audioUrl]="favola.audio" [title]="msbapTitle" [autoPlay]="true" muted="muted"
        [displayTitle]="msbapDisplayTitle" [displayVolumeControls]="msaapDisplayVolumeControls"></mat-basic-audio-player>
</div>
    