/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.audio-player-box {
    position: fixed;
    bottom: 10px;
    left: 3%;
    width: 94%;
    background-color: white;
    border: 1px solid black;
}

.fullpage {
    position:fixed; 
    top:0; 
    left:0;
    height:100%; 
    width:100%; 
    background-color: #e9e6dd; 
    overflow: scroll; 
}
