/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.audio-player-box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
}

.fullpage {
    position:fixed; 
    left: 0; right:0; top:0;
    height:100%; 
    background-color: #e9e6dd; 
    overflow: auto; 
}

.panel-menu-list {
    position: fixed; 
    display: flex;
}

.top-left-menu {
    top: 10px; 
    left: 10px;
} 

.top-right-menu {
    top: 10px; 
    right: 10px;
} 

.bottom-left-menu {
    bottom: 10px; 
    left: 10px;
} 

.browse-all-list {
    padding:0; margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.browse-all-item {
    height: 150px;
    margin: 10px;
}
.browse-all-item img {
    height: 150px;
}

 @media screen and (orientation:portrait) {
    .panel-menu-list {
       flex-direction: row;
    }
    .panel-menu-item {
       height: 50px;
       padding-right: 10px;
    }
    .fullpage {
        padding-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }
 }
 @media screen and (orientation:landscape) {
    .panel-menu-list {
       flex-direction: column;
    }
    .panel-menu-item {
       width: 50px;
       padding-bottom: 10px;
    }
    .fullpage {
        padding-top: 10px;
        padding-right: 70px;
        padding-left: 70px;
    }
 }
 