/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
    font-family: 'Olivetti-Valentine';
    src: url(/assets/Olivetti-Valentine.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Garamond-Regular';
    src: url(/assets/Garamond-Regular.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Typewriterhand';
    src: url(/assets/Typewriterhand.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Dymo';
    src: url(/assets/Dymo.ttf) format("truetype");
    font-weight:300;
}

@font-face {
    font-family: 'Little-Days';
    src: url(/assets/Little-Days.ttf) format("truetype");
    font-weight:300;
}

.audio-player-box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
}

.fullpage {
    position:fixed; 
    left: 0; right:0; top:0;
    height:100%; 
    overflow: auto; 
}

.panel-menu-list {
    position: fixed; 
    display: flex;
}

.top-left-menu {
    top: 10px; 
    left: 15px;
} 

.top-right-menu {
    top: 10px; 
    right: 15px;
} 

.bottom-left-menu {
    bottom: 10px; 
    left: 15px;
} 

.browse-all-list {
    padding:0; margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;    
}
.browse-all-item {
    height: 150px;
    margin: 10px;
}
.browse-all-item img {
    height: 150px;
}

.table-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    img {
        flex: 0 0 16%;
        width: 16%;
        padding: 3px;
    }
}

.aboutpage {
    padding: 20px;
    margin-bottom: 50px;
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Garamond-Regular';
    font-weight: 500;
    font-size: 1.2em;
    h1 {
        margin-top: 0;
        padding-top: 0;
        color: #420910;
        font-family: 'Little-Days';
        font-size: 2.5em;
    }
    h2 {
        color: #420910;
    }
    p {
        color: #404040;
    }
    .credit {
        color: #420910;
    }
    a {
        color: #420910;
    }
    .trailing {
        text-align: center;
        a {
            text-decoration: none;
        }
    }
}

.rodari {
    padding: 20px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.3);
    font-family: 'Little-Days';
    font-weight: 600;
    font-size: 1.4em;
    p {
        color: #420910;
        font-style: italic;
    }
}

.page-container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.splash-title {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: #420910;
    div {
        position: fixed; 
        text-align: center;
        font-family: 'Little-Days', sans-serif;
        font-size: 3.5em;
    }
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* The image used */
    background-image: url("assets/sfondo-1600.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (orientation:portrait) {
    .panel-menu-list.top-right-menu {
       flex-direction: row-reverse;
    }
    .panel-menu-item {
       height: 40px;
       padding-right: 10px;
    }
    .fullpage {
        padding-top: 70px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .splash-title {
        div {
            padding-top: 70px;
        }
    }
    .footer {
        height: 100px;
    }
}
@media screen and (orientation:landscape) {
    .panel-menu-list {
       flex-direction: column;
    }
    .panel-menu-item {
       width: 40px;
       padding-bottom: 10px;
    }
    .fullpage {
        padding-top: 10px;
        padding-right: 70px;
        padding-left: 70px;
        padding-bottom: 10px;
    }
    .splash-title {
        div {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
}
 